<%- include('header.ejs', locals) %>

<h1>User License Agreement</h1>

<p>To install your trial of npm Enterprise, we need you to agree to our
  User License Agreement by checking the box below.</p>

<form accept-charset="UTF-8" action="/enterprise-signup-2" method="POST" id="npme-agree-form">
  <%- csrf %>
  <input type="hidden" id="customer_email" name="customer_email" value="<%= customer_email %>">
  <input type="hidden" id="customer_id" name="customer_id" value="<%= customer_id %>">
  <div class="license">
    <div id="innerscroll">
      <%- include('license-text.ejs') %>
    </div>
  </div>
  <div>
    <div class="input">
      <label for="agree"><input type="checkbox" required="required" id="agree" name="agree"> I agree to the npm Enterprise ULA</label>
    </div>
  </div>
  <div>
    <div class="actions">
      <input class="hs-button primary large" type="submit" value="Finish signup">
    </div>
  </div>
</form>

<%- include('footer.ejs', locals) %>
